.pagination {
  display: flex;
  justify-content: space-evenly;
}

.page-number {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  color: #9b4dca;
  cursor: pointer;
}

.current-page {
  color: #606c76;
  cursor: initial;
}
