.message {
  padding: 10px;
  border: 1px solid;
}

.success {
  color: #4f8a10;
  border-color: #4f8a10;
  background-color: #dff2bf;
}

.info {
  color: #00529b;
  border-color: #00529b;
  background-color: #bde5f8;
}

.error {
  color: #d8000c;
  border-color: #d8000c;
  background-color: #ffd2d2;
}

.warning {
  color: #9f6000;
  border-color: #9f6000;
  background-color: #dff2bf;
}
